{% extends '/base.html.twig' %}

{% block title %}
    MODIFICATION DU MOT DE PASSE - ASTRONOMY CONFERENCE
{% endblock %}


{% block body %}

    <div class="mx-auto" style="width: 100em; height: 30em;">
        <hr>
    </div>

    <div class="login-dark m-5">
        <div>

            {{ form_start(form) }}

            <div class="form-group col-md-6"><h6>MODIFICATION DU MOT DE PASSE</h6></div>
            <br/>
            <div class="illustration"><i class="icon ion-ios-person-outline"></i></div>

            <div class="form-group col-md-6">
                {{ form_label(form.ancienPassword, 'Ancien mot de passe') }} <br/>
                {{ form_widget(form.ancienPassword) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.nouveauPassword, 'Nouveau mot de passe') }} <br/>
                {{ form_widget(form.nouveauPassword) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.confirmerPassword, 'Confirmer le nouveau mot de passe') }} <br/>
                {{ form_widget(form.confirmerPassword) }}
            </div>


            <div class="form-group col-md-3"><button class="btn btn-primary btn-block" type="submit">Enregistrer les modifications</button></div>

            <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
