{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">

{% endblock %}

{% block body %}

    <div class="mx-auto" style="width: 100em; height: 20em;">
        <hr>
    </div>

    {{ form_start(form) }}
    <div class="m-3">
        <form class="col-md-6">
            <div class="form-group"><h6>MOT DE PASSE OUBLIE</h6></div>
            <div class="illustration"><i class="icon ion-ios-person-outline"></i></div>

            <div class="form-group col-md-6">
                {{ form_label(form.email, 'email') }}
                <br/>
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.envoyer, 'Envoyer') }}
                <br/>
                {{ form_widget(form.envoyer) }}
            </div>

            {{ form_row(form._token) }}

        </form>

    </div>

    {{ form_end(form) }}

{% endblock %}
