{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/app_basket.css') }}">

{% endblock %}

{% block body %}

    <div class="mx-auto" style="width: 100em; height: 12em;">
        <hr>
    </div>

    <div class="m-5" id="basket" >
        <a href="#" class="panier">Voir le panier</a>
        <div>0 livres</div>
    </div>

<div class="example-wrapper m-4">
    <h1>Livres</h1>

    <div class="book-list">

        {% for book in books %}
            <div class="card-body book_card">
                <a href="livre/{{ book.titre }}">
                    <img src="/img/livre/{{ book.image }}" alt="Book cover" style="width: 10em; margin-right: 1em;">
                </a>&nbsp;
                <div>
                    <a href="livre/{{ book.titre }}">
                        <h2 class="card-header">{{ book.titre }}</h2>
                    </a>&nbsp;
                    <p>Auteur: {{ book.auteurs }}</p>
                    {% if book.coAuteur %}
                        <p>Co-auteur: {{ book.coAuteur }}</p>
                    {% endif %}
                    <p>{{ book.prixht * 1.055 | round(2, 'floor') }} € TTC</p>
                    <p>DESCRIPTION: {{ book.description }}</p>
                    {% if book.nbPage %}
                        <p>NOMBRE DE PAGES: {{ book.nbPage }}</p>
                    {% endif %}
                    <p>ISBN: {{ book.isbn }}</p>
                    {% if book.auteurBio %}
                        <p>BIOGRAPHIE: {{ book.auteurBio }}</p>
                    {% endif %}
{#                    <button onClick="addToBasket({{ book.id }});">Ajouter au panier</button>#}
                    <button><a href="{{ path('cart_add', {'id': book.id})  }}">Ajouter au panier</button>
                </div>
            </div>

        {% endfor %}

            {{ knp_pagination_render(books) }}


    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function(event) {
            updateBasket();
        });
    </script>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/axios.min.js') }}"></script>
    <script src="{{ asset('js/app_basket.js') }}"></script>

{% endblock %}